.header{
    position: relative;
    display: flex;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);

    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header__img {
            img {
                width: 100px;
                height: 100px;
            }
        }
        .header__brand {
            font-size: 1.5em;
            font-weight: 600;
            color: rgb(34, 98, 144);
            margin-bottom: 18px;
            transition: color .4s ease;
            position: relative;
            line-height: 25px;
        }
    }

    .header__links {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .header__list {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            flex-wrap: wrap;
            padding: 0;

            .header__item {
                margin: 0px 50px 18px 50px;
                font-weight: 400;
                font-size: 1.2em;
                position: relative;
                height: 100%;
                transition: all .4s ease;

                .item__dropdown {
                    display: none;
                    background-color: rgb(27, 125, 158);
                    position: absolute;
                    z-index: 1;
                    width: 150px;
                    color: white;
                }

                &:hover{
                    color:rgb(0, 170, 212);   
                    .item__dropdown {
                        display: block;
                    }
                }

                &::after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 0%;
                    left: 0;
                    bottom: -20px;
                    background-color: rgb(94, 216, 175);
                    transition: all .4s;
                }

                &:hover::after{
                    width: 100%;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}





