.footer {
    background-color: rgb(41, 40, 40);
    height: 200px;
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: auto;

    .footer__logo {
        margin-left: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .footer__img {
            img {
                width: 100px;
                height: 100px;
                margin-right: 20px;
                pointer-events: none;
            }
        }
        .footer__brand {
            font-size: 1.5em;
            font-weight: 600;
            color: rgb(255, 255, 255);
            margin-bottom: 18px;
            transition: color .4s ease;
            position: relative;
            line-height: 25px;
        }
    }
    .footer__info {
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;
        a {
            color: inherit;
            text-decoration: none;
            margin-left: 10px;
            &:hover {
                color: rgb(0, 217, 181);
            }
        }
        .footer__links {
            margin-right: 50px;
            .footer__instagram {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }
            .footer__facebook {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }
            .footer__email {
                display: flex;
                align-items: center;
            }
        }
        .footer__contact {
            .footer__phone {
                margin-bottom: 5px;
                &:hover {
                    color: rgb(0, 217, 181);
                }
            }
        }
    }
}
